:root{
    --primary:#ff2b2b;
    --secondary:#ffb703;
    --dark:#121212;
    --light:#ffffff;
    --gray:#f5f5f5;
    --text:#555;
    --shadow:0 10px 30px rgba(0,0,0,.12);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    
}

body{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(135deg, #000, #1c1c1c, red);
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

img, video{
    max-width:100%;
    height:auto;
}

.nav-logo img{
    width:clamp(160px, 25vw, 300px);
    display:block;
}

nav{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
    padding:16px clamp(20px, 5vw, 60px);
    background:rgba(0,0,0,.85);
    backdrop-filter:blur(12px);
    border-bottom:1px solid rgba(255,255,255,.1);
}

html{
    scroll-behavior:smooth;
}

ul{
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    list-style: none;
}

nav a{
    text-decoration:none;
    color:white;
    font-size:19px;
    font-weight:700;
    transition:.3s;
    display:flex;
    align-items:center;
    gap:8px;
    position: relative;
}

nav a:hover{
    color:var(--primary);
    transform:translateY(-2px);
    width:100%;
}

nav h2{
    color: white;
}

nav li:last-child{
    background-color: red;
    padding: 6px 12px;
    border-radius: 5px;
}

li a:hover{
    color: red;
}

nav li:last-child{
    background:linear-gradient(45deg,#ff2b2b,#ff6b6b);
    padding:10px 20px;
    border-radius:50px;
    transition:.3s;
}

nav li:last-child:hover{
    transform:scale(1.05);
}

a{
    text-decoration: none;
    color: white;
}

nav a.active{
    color: var(--primary);
}

.hero {
    min-height: 90vh;
    background: url("../images/banner.png") no-repeat center/cover;
    display: flex;
    text-align: center;
    padding: 40px clamp(20px, 5vw, 40px);
    justify-content: center;
    align-items: center;
    color: white;
    position:relative;
}

.hero button {
    margin-top: 15px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding:15px 35px;
    border-radius:50px;
    font-size:18px;
    transition:.3s;
}

.hero h1{
    font-size:clamp(28px, 6vw, 60px);
    margin-bottom:15px;
}

.hero p{
    font-size:clamp(16px, 2.5vw, 22px);
}

.hero button:hover {
    background: darkred;
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(255,0,0,.4);
}

.video-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: clamp(20px, 5vw, 50px);
    gap: 40px;
}

.video-text,
.video-box {
    min-width: min(100%, 320px);
}

.video-text {
    flex: 1;
}

.video-box {
    flex: 1;
}

.video-box video {
    width: 100%;
    border-radius: 10px;
}

.video-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #ccc;
}

.video-text p {
    font-size: 18px;
    color: #ccc;
    line-height: 1.8;
    margin-bottom: 30px;
}

.about {
    text-align: center;
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: rgba(255, 0, 0, 0.615);
}

.about p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition:.3s ease;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 30px rgba(0,0,0,.15);
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card button {
    background-color: red;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

.card button:hover {
    background-color: darkred;
}

.menu-container {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));;
    gap: 20px;
    padding: 20px;
}

.category-icons {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: auto;
    background: #fff;
    justify-content: center;
}

.icon-box {
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.icon-box img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #555;
    padding: 5px;
}

.icon-box p{
    margin-top: 8px;
    font-size: 14px;
}

.icon-box img:hover {
    border-color: rgb(0, 0, 0);
    transform: scale(1.1);
}

.icon-box p:hover {
    color: red;
}

header {
    top: 0;
    position: sticky;
    z-index: 1000;
}


table {
    width: 70%;
    border-collapse: collapse;
    background: #fff;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
}

thead {
    background: red;
    color: white;
}

th , td {
    padding: 15px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid blue;
}

.item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.remove {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove:hover {
    background: darkred;
}

.grand-total td {
    font-weight: bold;
    font-size: 18px;
}

.grand-total button {
    margin-top: 25px;
    padding: 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grand-total button:hover {
    background: darkred;
}

.qty-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.qty-box button {
    width: 30px;
    height: 28px;
    border: none;
    background: red;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.qty-box button:hover {
    background: darkred;
}

.qty-box span {
    font-size: 15px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

.auth-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    color: white;
    background: linear-gradient(135deg, #000, #1c1c1c, red);
}

.auth-box {
    background: transparent;
    width: 600px;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    background-color: #555;
}


.auth-box h2 {
    margin-bottom: 20px;
    color: whitesmoke;
}

.auth-box input {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 2px solid brown;
    outline: none;
}

.auth-box button {
    width: 25%;
    padding: 15px;
    color: black;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    display:block;
    margin:20px auto;
}

.auth-box button:hover {
    background: darksalmon;
}

.auth-box p {
    margin-top: 20px;
    font-size: 15px;

}

.auth-box a {
    color: salmon;
    text-decoration: none;
}

.auth-box a:hover {
    color: bisque;
}

.auth-box input[type=email],
.auth-box input[type=password]{
    width:100%;
    padding:15px;
    border-radius:10px;
    border:2px solid transparent;
    background:#fff;
    font-size:16px;
    transition:.3s;
}

.auth-box input:focus{
    outline:none;
    border-color:#ff2b2b;
    box-shadow:0 0 12px rgba(255,43,43,.4);
}

.remember{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:18px;
}

.remember label{
    display:flex;
    align-items:center;
    gap:8px;
    margin:0;
}

form {
    text-align: left;
}

.google-btn{
    background:white;
    color:#333;
    margin-top:20px;
    display: flex;
}

.google-btn:hover{
    background:#f2f2f2;
}

.facebook-btn{
    background:#1877F2;
    color:white;
}

.facebook-btn:hover{
    background:#125dcc;
}

.deals-page {
    padding: 40px;
    background: #f8f8f8;
}

.deal-hero {
    background: linear-gradient(135deg, rgb(0, 0, 0), #202020);
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
}

.deal-hero h1 {
    font-size: 40px;
}

.deal-hero p {
    font-size: 18px;
}

.section-title {
    margin: 30px 0 20px;
    font-size: 28px;
    color: #000;
}

.combo-section {
    padding: 40px;
    background: #fff;
}

.combo-container {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap: 25px;
}

.combo-card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.combo-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.combo-card h4 {
    margin: 10px 0;
}

.combo-card h4 span {
    text-decoration: line-through;
    color: grey;
    margin-right: 10px;
}

.combo-card button {
    background: red;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.combo-card button:hover {
    background: darkred;
}

.combo-card:hover {
    transform: translate(-8px);
}

.deals-container {
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
}

.deal-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.deal-card h3 {
    margin-bottom: 10px;
}

.deal-card span {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
}

.deal-card:hover {
    transform: translateX(-8px);
}

.deal-card h3 {
    margin-bottom: 10px;
}

.deal-card span {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
}

.deal-card:hover {
    transform: translateY(-8px);
}

.red {
    border-top: 5px solid red;
}

.yellow {
    border-top: 5px solid orange;
}

.green {
    border-top: 5px solid green;
}

/* .blue {
    border-top: 5px solid blue;
} */

.password-box{
    position: relative;
}

.password-box input{
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
}

.password-box span{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: red;
}

footer ul {
    display: block;
    list-style: none;
    padding: 0;
}


footer {
    background: #111;
    color: #ccc;
    padding: 40px;
}

.footer-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 30px;
}

.footer-box h2,
.footer-box h3 {
    color: white;
    margin-bottom: 15px;
}

.footer-box span {
    color: red;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

footer a:hover {
    color: red;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid grey;
    font-size: 13px;
}

.social-icons a{
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    color: #ddd;
    background: black;
    padding: 10px;
    border-radius: 20px;
}

.social-icons a:hover {
    background: red;
    color: white
}

.menu-btn {
    display: none;
    background: transparent;
    border: none;
}

@media (max-width: 1024px) {
    nav {
        padding: 14px 24px;
    }

    ul {
        gap: 20px;
    }

    nav a {
        font-size: 16px;
    }
}

@media (max-width: 770px) {

    header {
        position: sticky;
        top: 0;
        z-index: 1000;
        background: black;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .menu-btn {
        display: block;
        background: transparent;
        border: none;
        color: white;
        font-size: 32px;
        line-height: 1;
        cursor: pointer;
        padding: 5px 10px;
        z-index: 1001;
        position: absolute;
        right: 20px;
        top: 30px;
    }

    .menu-btn:hover {
        color: #E10600;
    }

    nav img {
        width: 140px;
    }

    /* 🔥 IMPORTANT */
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 12px;
    }

    /* 🔥 Show menu when hamburger is clicked */
    nav ul.show {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        display: block;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #333;
    }

    nav li:last-child a {
        width: 90%;
        margin: auto;
    }

    .hero {
        min-height: 70vh;
        text-align: center;
        padding: 20px;
    }

    .video-section {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .about {
        padding: 30px 15px;
    }

    .menu-container {
        grid-template-columns: 1fr;
    }

    .deals-container {
        grid-template-columns: 1fr;
    }

    .combo-container {
        grid-template-columns: 1fr;
    }

    .category-icons {
        justify-content: flex-start;
        overflow-x: auto;
        padding: 15px;
    }

    .icon-box {
        min-width: 80px;
    }

    footer {
        padding: 30px 20px;
    }

    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

