*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

header {
    top: 0;
    position: sticky;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 14px 40px;
}

ul{
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 8px;
}

nav h2{
    color: white;
}

nav li:last-child{
    background-color: red;
    padding: 6px 12px;
    border-radius: 5px;
}

li a:hover{
    color: red;
}

li:last-child a:hover {
    background-color: red;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.hero {
    height: 90vh;
    background: url("../images/banner.png") no-repeat center/cover;
    display: flex;
    padding: 300px 300px;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero button {
    margin-top: 15px;
    padding: 10px 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background: darkred;
}

.video-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
}

.video-text {
    flex: 1;
}

.video-box {
    flex: 1;
}

.video-box video {
    width: 100%;
    border-radius: 10px;
}

.video-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.video-text p {
    font-size: 18px;
    color: #444;
    line-height: 1.8;
    margin-bottom: 30px;
}

.about {
    text-align: center;
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: rgba(255, 0, 0, 0.615);
}

.about p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}